@model NetPants.Models.Roupa

@{
    ViewData["Title"] = "Delete";
}

<h1 style="display: flex; align-items:center; justify-content: space-around; padding-top: 80px">Excluir</h1>

<h3 style="display: flex; align-items:center; justify-content: space-around; padding-top: 30px">Tem certeza de que deseja excluir isso?</h3>

<div style="padding-top: 50px">

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoCurta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoCurta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoDetalhada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoDetalhada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemThumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemThumbnailUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRoupaPromocao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRoupaPromocao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaNome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RoupaId" />
        <div class="form-group" style="display: flex; align-items:center; justify-content: space-around; padding-top: 20px">
            <input type="submit" value="Excluir" class="btn btn-outline-danger" style="padding: 8px 25px" />
            <a class="text-decoration-none, btn btn-outline-info" style="padding: 8px 25px" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>
